.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 2rem;
    max-width: 60%;
    margin: 0 auto;
}

.itemList img{
    width: 100px;
    border-radius: 10%;
}

.itemList h2{
    font-size: 20px;
}