.navBarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.navBarContainer h1{
    font-size: 28px;
}

.navBarContainer div ul{
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
}

.navBarContainer div ul li{
    font-size: 22px;
    margin: 15px;
    list-style: none;
}

.navBarContainer div ul li a{
    text-decoration: none;
    color: black;
}

.navBarContainer div ul li a:hover{
    color: red;
}

