.itemDetailContainer{
    background-color:blueviolet;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.imgItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.imgItem img{
    width: 150px;
    height: 150px;
}



