.imgItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    
}

.imgItem img{
    width: 150px;
    height: 150px;
}

.itemContainer{
    background-color:blueviolet;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.itemDescription{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}


.itemDescription h3{
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
