.itemDetailContainer{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color:blueviolet;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.imgItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200;
    height: 200px;

}

.imgItem img{
    width: 200;
    height: 200px;
    border-radius: 12%;
}

.itemDescription h3{
    margin-top: 8px;
    font-size: 18px;
}



