.itemList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    gap: 2rem;
    max-width: 100%;
}

.itemList a{
    list-style: none;
    text-decoration: none;
    
}